<h1>e-Commerce Backpacks Listing</h1>


<div id="container">
	<table id="tindex" border="1" cellspacing="0">
		<% @backpacks.each do |backpack|%>
		<tr>
			<td>
				<%= backpack.color %> -
				<%= backpack.capacity %> 
			</td>
			<td>
				<%= link_to 'Show all features', backpack_path(backpack) %>
			</td>
			<td>
				<%= link_to 'Edit features', edit_backpack_path(backpack) %>
			</td>
			<td>	
				<%= link_to 'Destroy item', backpack_path(backpack), method: :delete, data: { confirm: 'Are you sure you want to delete this record?'} %>
			</td>
		</tr>
		<% end %>
	</table>
</div>

<div id="link_container">

	<div id="link_add">
		<%= link_to 'Add a new backpack', new_backpack_path %>
	</div>

	<div id="links_index">
		<%= link_to 'Go back to the index!', root_path %>
	</div>
	
</div>